<!-- <h1>Hello World</h1> -->
<!-- <hinv-rooms></hinv-rooms> -->

<!-- <hinv-employee></hinv-employee> -->
<!-- 
 <hinv-container>
    <hinv-rooms></hinv-rooms>
    <hinv-employee></hinv-employee>
    <h1>This is from ng-content</h1>
</hinv-container> -->

<!-- <div #name> </div> -->

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
        <h1>Welcome User!</h1>
    </div>
    <div *ngSwitchCase="'Admin'">
        <h1>Welcome Admin!</h1>
    </div>
    <div *ngSwitchDefault>
        <h1>You Are Not Authorised To View This Page</h1>
    </div>
</div> -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->


<!-- <a [routerLink]="'rooms'">Rooms</a> <br>
<a [routerLink]="'employee'">Employee</a> -->

<hinv-app-nav></hinv-app-nav>

<!-- <router-outlet></router-outlet> -->